:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  &__overlayButton {
    position: absolute;
    left: 60px;
    top: 10px;
  }
}
